
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html><head> 
    <title> VersaPay System Error </title> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
    <link href="http://media.production.secure.versapay.com.s3.amazonaws.com/error-page/eft.css" media="screen" rel="stylesheet" type="text/css"> 
    <script type="text/javascript"> 
      var curvyCornersVerbose = false;
      //var curvyCornersNoAutoScan = true;
    </script> 
    <!--[if IE]>
      <link href="http://media.production.secure.versapay.com.s3.amazonaws.com/error-page/ie.css" media="screen" rel="stylesheet" type="text/css" />
      <script src="http://media.production.secure.versapay.com.s3.amazonaws.com/error-page/curvycorners.js" type="text/javascript"></script>
    <![endif]--> 
    <!--[if lte IE 7]>
      <link href="http://media.production.secure.versapay.com.s3.amazonaws.com/error-page/ie7.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="http://media.production.secure.versapay.com.s3.amazonaws.com/error-page/jquery.pngfix.js" media="screen" rel="stylesheet" type="text/css" />
    <![endif]--> 
    <!--[if IE 6]>
      <link href="http://media.production.secure.versapay.com.s3.amazonaws.com/error-page/ie6.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]--> 
    <script src="http://media.production.secure.versapay.com.s3.amazonaws.com/error-page/jquery-ui-1.8.1.custom.min.js" type="text/javascript"></script> 
    <script src="http://media.production.secure.versapay.com.s3.amazonaws.com/error-page/jquery.placeheld.min.js" type="text/javascript"></script> 
    <script src="http://media.production.secure.versapay.com.s3.amazonaws.com/error-page/application.js" type="text/javascript"></script> 
    
  </head><body class="external"> 
  <div id="header"> 
    <div class="inner_content"> 
      <h1> 
        <a href="/" title="Versapay"><img alt="VersaPay" height="22" id="header_logo" src="http://media.production.secure.versapay.com.s3.amazonaws.com/error-page/header_logo.png" width="152"></a> 
      </h1> 
    </div> 
  </div> 
  <div id='page_content'> 
    <div class='inner_content'> 
      <div id='main_column'> 
        <div class='section'> 
          <h2>Upgrades in Progress...</h2> 
			<p>We're currently upgrading the VersaPay system. We expect to be back in a few minutes. We apologize for the inconvenience and thank you for your patience.</p>
			<p><br />Best Regards,</p>
			<p>The VersaPay Team</p>
        </div> 
      </div> 
    </div> 
</body>
 
